@model  InventroyMgtSystem.Models.ViewModels.WarehouseViewModel
@{
    ViewData["Title"] = "UpSet";
}


<h1 class="text-primary">
    @(Model.Warehouse.Id != 0 ? "Update Warehouse Item" : "Add Warehouse Item")
</h1>
<form asp-action="UpSet" method="post">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="col-md-12 px-3" style="        border-bottom: solid 1px #325d88;">
                @if (Model.Warehouse.Id != 0)
                {
                    <input type="hidden" asp-for="@Model.Warehouse.Id" />
                }
            </div>
            <div class="col-md-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="@Model.Warehouse.ItemId"></label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.Warehouse.ItemId,
                                            Model.InventoryItems,
                                            "-Select Category-",
                                            new { @class = "form-control" })
                        <span class="text-danger" asp-validation-for="Warehouse.ItemId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="@Model.Warehouse.Quantity"></label>
                    </div>
                    <div class="col-9">
                        <input type="text" asp-for="@Model.Warehouse.Quantity" class="form-control" />
                        <span class="text-danger" asp-validation-for="@Model.Warehouse.Quantity"></span>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary form-control">@(Model.Warehouse.Id != 0 ? "Update" : "Create")</button>
                            </div>
                            <div class="col-6">
                                <a asp-action="Index" class="btn btn-success form-control">Back To list </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



